:root {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
body{
  background-color: rgba(0, 0, 0, 0.9);
  padding: .25rem;
  font-size: 18px;
  width: 98%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3d3d3d;
  filter: drop-shadow(5px 5px 3px black);
  padding: 1rem;
  align-content: center; /*-- vertically aligns menu items to center --*/
  z-index: 1000; /*-- makes navbar always sit in the front, on the z-axis--*/
  width: 100%;
}
@media screen and (min-width: 768px) {
    nav {flex-direction: row;}
}
nav a{
  text-decoration: none;
  color: rgba(23, 177, 186, 0.63);
}
i.fas { /*-- adds a little padding left and right on fontawesome icons --*/
  padding: 0 .33em;
}
.nav-links:hover{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.trigram {
  display: none;
}
.nav-item.trigram {
  display: none;
  text-decoration: none;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .topnav a, .topnav span {display: none;}
  .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}
/*-- At screens BELOW 768px,  rules for mobile nav--*/
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;} /*-- vertically centers--*/
  .topnav.responsive a, .topnav.responsive span {display:inherit;} /*-- makes menu items visible --*/
  .topnav.responsive a:first-child {margin-top:1em;} /*-- adds space above first item --*/
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;} /*-- makes items visible (but not the trigram) and adds space above them--*/
  .topnav.responsive a.more {margin-bottom: 1em;} /*-- adds margin below bottom item --*/
  .topnav.responsive a.trigram {visibility:hidden; transition:none;} /*-- hides trigram when open --*/
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} /*-- replaces trigram sign with x-sign on mobile. --*/
}
/*-- At screens 768px and ABOVE, set normal menu defaults --*/
@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-between;}
}
.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 550px) {
  .grid-container {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .grid-container {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .grid-container {grid-template-columns: repeat(4, 1fr);}
}
.beta {
  background-position: center center;
  background-size: cover;
}
.main-grid {
  margin-top: 3.5rem; /*-- adds space above grid wrap --*/
  display: grid; /*-- sets display mode --*/
  grid-gap: 1.5rem; /*-- creates gutters --*/
  grid-template-columns: 1fr; /*-- default mobile layout is 1-column--*/
}
@media screen and (min-width: 550px) { /*-- at screens between 550 and 767 --*/
  body {width: 96%;}
  .main-grid {grid-template-columns: repeat(2, 1fr);}  /*-- 2 columnns --*/
}
@media screen and (min-width: 768px) {/*-- at screens between 768 and 989 --*/
  body {width: 94%;}
  .main-grid {grid-template-columns: repeat(3, 1fr);} /*-- 3 columnns --*/
}
@media screen and (min-width: 990px) {/*-- at screens between 990 and 1271 --*/
  body {width: 92%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} /*-- 4 columnns --*/
}
@media screen and (min-width: 1280px) {/*-- at screens 1280 and above --*/
  body {width: 90%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} /*-- 4 columnns --*/
}
.main-grid-item{
  border-radius: 4px;  /*-- rounds borders --*/
  padding: .5em; /*-- adds space inside --*/
  border-style: solid;
  border-color: black;
  box-shadow: 0 6px 8px 0 #000000;
  background: #3d3d3d;
  border-radius: 0.5rem;
  color: white;
}
.beta {
  padding-bottom: 56%; /*-- creates ~16:9 ratio--*/
  background-size: cover; /*--sets image to cover background --*/
  background-position: center center; /*-- positions image horiz. and vert. center --*/
  border-radius: 4px 4px 0 0; /*-- rounds top-left and top-right edges --*/
}
.one .beta {background-image: url('https://picsum.photos/300/200/?image=17');}
.two .beta {background-image: url('https://picsum.photos/300/200/?image=18');}
.three .beta {background-image: url('https://picsum.photos/300/200/?image=19');}
.four .beta {background-image: url('https://picsum.photos/300/200/?image=20');}
.five .beta {background-image: url('https://picsum.photos/300/200/?image=21');}
.six .beta {background-image: url('https://picsum.photos/300/200/?image=22');}
.seven .beta {background-image: url('https://picsum.photos/300/200/?image=23');}
.eight .beta {background-image: url('https://picsum.photos/300/200/?image=24');}
.nine .beta {background-image: url('https://picsum.photos/300/200/?image=25');}
.ten .beta {background-image: url('https://picsum.photos/300/200/?image=26');}
.eleven .beta {background-image: url('https://picsum.photos/300/200/?image=27');}
.twelve .beta {background-image: url('https://picsum.photos/300/200/?image=28');}

.card-content {
  padding: 0 .5em .7em .5em;
  display: flex;
  flex-direction: column;
  align-items: center; /*-- vertically centers card content --*/
}
.card-title {
  margin: 1rem 0 0 0;
  text-transform: uppercase; /*--all caps text --*/
  align-self: flex-start; /*-- positions at beginning --*/
  color: white;
}
.card-text {
  font-size: .80em;
  line-height: 1.2;
  align-self: flex-start;
  color: white;
}
button.details{
  background:rgba(23, 177, 186, 0.63);
  border-color: rgba(23, 177, 186, 0.63);
  padding: .45em .7em .4em .7em;
  border-radius: .3rem;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 3px 6px 0 #000000;

}
button.details, button.card-more:visited {
  color: black;
  border: 1.5px;
  transition: all 250ms ease-in-out;
}
button.details:hover, button.details:active {
  color: blue;
  border-color: blue;
}
.modal {
   display: none;/*-- hidden by default --*/
   position: fixed; /*-- doesn't move on the screen --*/
   z-index: 1100; /*-- sets higher than anything else so modal is in the very front --*/
   left: 0; /*-- positions at zero pixels from the left --*/
   top: 0; /*-- positions at zero pixels from the top --*/
   width: 100%; /*-- fills the space --*/
   height: 100%; /*-- fills the space --*/
   overflow: auto; /*-- handles overflow as normal. --*/
   background-color: rgba(10, 10, 10, .4); /*--slightly transparent--*/
}
.modal-content {
   background-color: var(--bg);
   color: var(--text);
   margin: 1rem auto;
   padding: 1em;
   width: 92%;
   border-radius: 4px;
   animation: fadein .3s ease-in-out; /*-- sets animation properties: name, duration, easing --*/
}
@keyframes fadein {
  from{transform:scale(.1);} /*-- modal grows from very small to full size--*/
}
.close {
   color: var(--text);
   font-size: 2.5em;
   font-weight: bold;
   position: absolute; /*-- always at the top right of the modal --*/
   top: 5px;
   right: 4.25%;
   transition: all .2s ease-in;
   text-shadow: 2px 2px 5px #FAFAFA,
               -2px -2px 5px #FAFAFA,
               2px -2px 5px #FAFAFA,
               -2px 2px 5px #FAFAFA;
}
.close:hover,
.close:focus {
   color: var(--accent);
   text-decoration: none;
   cursor: pointer;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; /*-- default modal grid (for mobile screens)--*/
  grid-gap: 2em;
}
.eg-text {
  align-self: center;
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}
/*-- Styles for slideshow --*/
.slideshow {
  background:#3d3d3d;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  filter: drop-shadow(5px 5px 3px black);

}
.slideshow-wrapper {
  position: relative; /*-- this allows children to be position absolutely --*/
  margin: auto; /*-- simple centering method--*/
}
.slideshow-wrapper img {
  width: 100%; /*-- makes slideshow responsive in size --*/
}
.prev, .next {
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  width: auto; /*-- matches width of parent --*/
  padding: 16px; /*-- adds a little bit of space--*/
  margin-top: -22px; /*-- adjusts position by height of arrows --*/
  color: white; /*-- sets color for contrast --*/
  font-weight: bold; /*-- selects heavier font --*/
  font-size: 18px; /*-- sets arrow font size --*/
  transition: 0.6s ease; /*-- sets transition speed for arrow hover--*/
  border-radius: 0 3px 3px 0; /*-- slightly rounds inside borders --*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.next {
  right: 0; /*-- positions next arrow hard right --*/
  border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}
.captiontext {
  background: rgba(0,0,0,0.4); /*-- transparent black background --*/
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 22px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets caption padding --*/
  position: absolute; /*-- positions caption text absolutely--*/
  bottom: 8px; /*-- sets position 8px from bottom --*/
  width: 100%; /*-- sets width equal to container width --*/
  text-align: center; /*-- aligns text center --*/
}
.numberof {
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 12px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets numberof padding --*/
  position: absolute; /*-- positions numberof text absolutely--*/
  top: 0; /*-- sets position hard to the top--*/
}
.text-center {
  display: flex;
}
.indicator {
  cursor:pointer; /*-- changes hover cursor to the hand --*/
  background-color: #bbb; /*-- sets background color to light gray --*/
  transition: all 250ms ease-in-out; /*-- allows opacity change to take time --*/
  opacity: .5;
}
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}
.active, .indicator:hover {
  opacity: 1; /*-- makes fully visible when hovered  --*/
}
.dot-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade; /*-- webkit prefix  --*/
  -webkit-animation-duration: 1.5s; /*-- webkit prefix --*/
  animation-name: fade; /*-- defines which animation to use --*/
  animation-duration: 1.5s; /*-- sets the duration --*/
}
@-webkit-keyframes fade { /*-- webkit prefix --*/
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade { /*-- sets "fade" animation properties --*/
  from {opacity: .4} /*-- sets start of animation --*/
  to {opacity: 1} /*-- sets end of animation --*/
}
/* On smaller screens, hides slideshow */
@media only screen and (max-width: 767px) {
  .slideshow {display: none;}
}
@media screen and (min-width: 1280px) { /*-- better modal display on largest screens --*/
  .modal-body {grid-template-columns: 7fr 5fr;}

}
/*-- Footer Styles --*/
footer {
  background-color: white;
  padding: .25rem;
  color: black;
  text-align: center;
  width: 100%;
}
footer a {
  color: var(--rev-text);
}
footer a:hover {
  color: var(--rev-accent);
}
